"*":
  "atom-beautify":
    css:
      align_assignments: true
      convert_quotes: "double"
      default_beautifier: "Pretty Diff"
      indent_size: 2
    general:
      _analyticsUserId: "21c85cff-7710-4b5f-9111-799f7956e51a"
    jsx:
      brace_style: "collapse-preserve-inline"
      default_beautifier: "JS Beautify"
      end_with_newline: true
      indent_size: 2
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
      space_after_anon_function: true
      space_in_paren: true
    ruby: {}
  "autoclose-html":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "li"
      "a"
    ]
  "autocomplete-python":
    useKite: false
  core:
    audioBeep: false
    disabledPackages: [
      "linter-stylelint"
      "autoclose-html"
      "emmet"
      "git-plus"
      "language-liquid"
      "split-diff"
    ]
    projectHome: "~/dev"
    reopenProjectMenuCount: 5
    telemetryConsent: "no"
    titleBar: "custom-inset"
    warnOnLargeFileLimit: 10
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "a976e774-8f05-c9ed-2ec6-269d540c6e29"
  "git-plus":
    general:
      _analyticsUserId: "5a9d231c-e4cc-4648-8475-f56b75df4ba3"
  linter: {}
  "linter-eslint":
    eslintrcPath: "~/.eslintrc.json"
    globalNodePath: "/usr/local"
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "source.js.mongodb"
    ]
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  pigments:
    markerType: "native-underline"
  react:
    enabledForAllJavascriptFiles: true
  "split-diff":
    ignoreWhitespace: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
